.footer {
    background-color: black;
    margin-top: 30px;
} 

.footer__info {
    padding-bottom: 1px;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
}

.footer__icons {
    display: flex;
    justify-content: center;
    gap: 23px;
    padding-top: 30px;
}