body {
    box-sizing: border-box;
    max-width: 1510px;
    margin: 0 auto;
} 

.container {
    max-width: 1170px;
    margin: 0 auto;
}
@media (max-width:1170px) {
    .container {
        max-width: 1170px;
    }     
}
@media (max-width:992px) {
    .container {
        max-width: 750px;
    }     
}
@media (max-width:767px) {
    .container {
        max-width: none;
    }     
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

